composer.phar
.phpunit.result.cache
.DS_Store
##### begin composer #####
/vendor/
/composer.lock
##### end composer #####
##### begin phpdev #####
/bin/phpunit
/bin/phpspec
/bin/behat
/bin/robo
##### end phpdev #####
##### begin phpqa #####
/bin/hoa
/bin/pdepend
/bin/php*
##### end phpqa #####
